body {
    font-size: 16px;
    color: black;
}
#container{
    background-color: mediumpurple;
    border: 1px dotted black;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 972px;
}
.mainNote{
    background-color: tan;
    border: 2px dotted black;
    height: 300px;
    margin: 5px;
    padding: 5px;
    width: 300px;
}
.innerText {
    background-color: lightgoldenrodyellow;
    outline: none;
    resize: none;
    width: 100%;
    height: 84%;
}

i.fa-edit{
    width: 95%;
    height: 5%;
}
i.update{
    padding: 0% 20%;
}
i.fa-save{
    width: 5%;
    float: right;
}
i.fa-trash{
    width: 100%;
}
span{
    float: right;
}

